.panel {margin-top:20px; margin-bottom:0px;padding:0px!important;}

.todo-entry>div {padding-top:10px;padding-bottom:10px; float:none;}

.drop-shadow {
        -webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, .5);
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, .5);
    }
    
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.bottom {
    border-bottom: 1px solid #ccc;
}

/*.button-block {display:none;}*/

/*body {background-image: url(../img/pyramid.gif); background-attachment: fixed; }*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 10px;
}

.form-task input,textarea,.input-group {
  margin-bottom: 10px;
}

.label {
  margin-left: 20px;
}

.badge {
    cursor: pointer;
}

.form-signin a {
    margin-top: 10px;
    float:right;
}

textarea { resize:vertical; max-height:500px; min-height:100px; )


